body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #8f7ad4, #4d4dff, #57abbe);
  color: #fff;
}

.navbar {
  background-color: #0d0d0d;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .icon {
  display: none;
}

.gradient-bg {
  background: linear-gradient(to bottom, #8f7ad4, #4d4dff, #00d2ff);
}

@media screen and (max-width: 768px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

main {
  margin: 50px;
}

section {
  margin-bottom: 50px;
}

h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  background: linear-gradient(to right, #000000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  background-color: #fff;
  color: #000;
}

footer {
  background-color: #0d0d0d;
  padding: 20px;
  text-align: center;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  color: #ffbf00;
}

a:hover {
  color: #fff;
}

.carousel-item img {
  max-height: 500px;
  margin: 0 auto;
  display: block;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 660px;
}

.carousel-caption {
  bottom: 100;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: auto;
  outline: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
  margin-left: -30px;
}

.carousel-control-next {
  margin-right: -30px;
}

@media (min-width: 768px) {
  .carousel-caption {
    bottom: 30px;
  }
}

#university-logo {
  width: 115px;  /* Ajusta el valor según el tamaño que prefieras */
  height: auto;  /* Mantén 'auto' para preservar la relación de aspecto */
  float: left;   /* Para alinear la imagen a la izquierda del texto */
  margin-right: 10px;  /* Espacio a la derecha de la imagen */
}
