body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #8f7ad4, #4d4dff, #57abbe);
  background-size: auto 3000px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #0d0d0d;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar .menu {
  display: flex;
  flex-direction: row;
  transition: all 0.3s;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .menu {
      flex-direction: column;
      display: none;
      position: absolute;
      background-color: #0d0d0d;
      width: 100%;
      left: 0;
      top: 60px;
  }

  .navbar .menu.active {
      display: flex;
  }

  .navbar .icon {
      display: block;
  }

  .navbar .icon.active i:before {
      content: "\f00d";
  }

  .navbar .icon i:before {
      content: "\f0c9";
  }
}

/* ... Resto de tus estilos ... */


main {
  margin: 50px;
}

section {
  margin-bottom: 50px;
}

h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  background: linear-gradient(to right, #000000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  background-color: #fff;
  color: #000;
}

footer {
  background-color: #0d0d0d;
  padding: 20px;
  text-align: center;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 600px;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  text-align: center;
}



.carousel-item img {
  max-height: 350px;
  margin: 0 auto;
  display: block;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: auto;
  outline: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
  margin-left: -30px;
}

.carousel-control-next {
  margin-right: -30px;
}

@media (min-width: 768px) {
  .carousel-caption {
    bottom: 30px;
  }
}


#university-logo {
  width: 115px;  /* Ajusta el valor según el tamaño que prefieras */
  height: auto;  /* Mantén 'auto' para preservar la relación de aspecto */
  float: left;   /* Para alinear la imagen a la izquierda del texto */
  margin-right: 10px;  /* Espacio a la derecha de la imagen */
}

#google_translate_element {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 385px) {

  body {
      font-size: 16px; /* Ajusta el tamaño de fuente para un mejor ajuste en dispositivos pequeños */
  }

  .navbar {
      flex-direction: column;
      padding: 10px;
  }

  .navbar .icon {
      display: block;
  }

  .navbar .menu {
      position: absolute;
      width: 100%;
      left: 0;
      top: 60px;
  }

  .navbar .menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media (min-width: 386px) {
  .carousel-item {
      height: 600px;  
  }
  .carousel-caption {
      font-size: 0.8rem;
      line-height: 1.2;
  }
  .carousel-caption h1 {
      font-size: 1.5rem;
  }
}


