body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #8f7ad4, #4d4dff, #57abbe);
  color: #fff;
}

.navbar {
  background-color: #0d0d0d;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .icon {
  display: none;
}

.gradient-bg {
  background: linear-gradient(to bottom, #8f7ad4, #4d4dff, #00d2ff);
}

.navbar .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.navbar .icon {
  display: block;
  cursor: pointer;
}

.navbar .icon i {
  font-size: 1.5rem;
}

.navbar .icon.active i:before {
  content: "\f00d";
}

.navbar .icon i:before {
  content: "\f0c9";
}

.navbar .menu.active {
  height: auto;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 60px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .navbar a {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

main {
  margin: 50px;
}

section {
  margin-bottom: 50px;
}

h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  background: linear-gradient(to right, #000000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  background-color: #fff;
  color: #000;
}

footer {
  background-color: #0d0d0d;
  padding: 20px;
  text-align: center;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 600px;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  text-align: center;
}



.carousel-item img {
  max-height: 500px;
  margin: 0 auto;
  display: block;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: auto;
  outline: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
  margin-left: -30px;
}

.carousel-control-next {
  margin-right: -30px;
}

@media (min-width: 768px) {
  .carousel-caption {
    bottom: 30px;
  }
}


#university-logo {
  width: 115px;  /* Ajusta el valor según el tamaño que prefieras */
  height: auto;  /* Mantén 'auto' para preservar la relación de aspecto */
  float: left;   /* Para alinear la imagen a la izquierda del texto */
  margin-right: 10px;  /* Espacio a la derecha de la imagen */
}
